langchain
ipykernel
huggingface-hub
pinecone-client
pinecone-text
python-dotenv
tqdm
langchain-community
datasets
langchain-text-splitters
openai
sentence-transformers
langchain-huggingface  
pandas
tabulate
tiktoken
google.generativeai
google-cloud-aiplatform